.item-img {
	border-radius: 100%;
	width: 5rem;
}

.item-txt{
	margin-left: 1rem;
	margin-top: 1.75rem;
	font-size: large;
	font-family: 'Segoe UI', 'Roboto';
}

.item-container{
	display:inline-flex;
	align-items: flex-start;

}

.selectContainer{
	display: flex;
	align-items: flex-start;
}