@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.item-img {
	border-radius: 100%;
	width: 5rem;
	border: 4px solid #a0a0a0;
}

.select-item-img {
	border-radius: 100%;
	width: 2.5rem;
	border: 2px solid #a0a0a0;
	margin-right: -0.75rem;
	margin-left: -0.5rem;
}

AddFAB{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1rem;
	z-index:255;
}